body {
    margin: 0;
    background-color: #303030;
}


h1 {
    font-size: 100px;
    
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
    height: 190px;
    border-bottom: 15px solid #0E86D4;
}

header img {
    width: 50%;
    height: 190px;
    border-bottom: 15px solid #0E86D4;
}

.logo-head {
    display: flex;
    align-items: center;
}